<div class="bny-alert">
    这是一个警示信息
</div>
<div class="bny-alert" color="green">
    这是一个警示信息
</div>
<div class="bny-alert" color="yellow">
    这是一个警示信息
</div>
<div class="bny-alert" color="red">
    这是一个警示信息
</div>
<div class="bny-alert" color="blue">
    这是一个警示信息
</div>

<h2>组件-警示信息</h2>

<button hx-ext="bny-alert" hx-get="/test/data/alert.json" hx-trigger="click" class="bny-btn">点击我</button>

<button hx-ext="bny-alert" hx-get="/test/data/alert01.json" hx-trigger="click" class="bny-btn">点击我-绿色</button>

<button hx-ext="bny-alert" hx-get="/test/data/alert02.json" hx-trigger="click" class="bny-btn">点击我-黄色-左移</button>

<button hx-ext="bny-alert" hx-get="/test/data/alert03.json" hx-trigger="click" class="bny-btn">点击我-红色-延时10秒</button>


<button hx-ext="bny-alert" hx-get="/test/data/alert04.json" hx-trigger="click" class="bny-btn">点击我-蓝色</button>
