<h1>下拉菜单</h1>
<hr>
<blockquote class="bny-blockquote">
    下拉菜单是一种常用的交互组件，用于展示更多选项。
</blockquote>
<div class="bny-card">
    <div hx-ext="bny-tab">
        <ul class="head">
            <li>Preview</li>
            <li>Code</li>
        </ul>
        <div class="body">
            <div>
                <div class="p-12">
                    <button hx-ext="bny-dropdown" hx-get="/test/data/dropdown.html" hx-trigger="click"
                        class="bny-btn">下拉菜单</button>
                    <button hx-ext="bny-dropdown" hx-get="/test/data/dropdown2.html" hx-trigger="click"
                        class="bny-btn">下拉菜单2</button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div>
                <pre hx-ext="bny-code">
&lt;button hx-ext="bny-dropdown" hx-get="/test/data/dropdown.html" hx-trigger="click" class="bny-btn"&gt;下拉菜单&lt;/button&gt;
&lt;button hx-ext="bny-dropdown" hx-get="/test/data/dropdown2.html" hx-trigger="click" class="bny-btn"&gt;下拉菜单2&lt;/button&gt;
                </pre>
            </div>
        </div>
    </div>
</div>
<h2>API</h2>
<h3>标签属性</h3>
<table hx-ext="bny-table">
    <thead>
        <tr>
            <th>属性</th>
            <th>默认值</th>
            <th>必须</th>
            <th>描述</th>
            <th>版本</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>hx-ext</td>
            <td>bny-dropdown</td>
            <td>是</td>
            <td>标签扩展名</td>
            <td></td>
        </tr>
    </tbody>
</table>