<div class="bny-row">
    <div class="text-content-box col-xs12 col-sm9">
        <div class="text-content">
            <h1>加载</h1>
            <hr>
            <blockquote class="bny-blockquote">
                加载层,默认 3 秒自动关闭
            </blockquote>
            <h2 id="n01">样式</h2>
            <h3 id="n011">默认</h3>
            <div class="bny-card">
                <div hx-ext="bny-tab">
                    <ul class="head">
                        <li>Preview</li>
                        <li>Code</li>
                    </ul>
                    <div class="body">
                        <div>
                            <div class="p-12">
                                <div class="bny-load"></div>
                                <div class="bny-load" color="green"></div>
                                <div class="bny-load" color="red"></div>
                                <div class="bny-load" color="yellow"></div>
                                <div class="bny-load" color="blue"></div>
                            </div>
                        </div>
                        <div>
                            <pre hx-ext="bny-code">
&lt;div class="bny-load"&gt;&lt;/div&gt;
&lt;div class="bny-load" color="green"&gt;&lt;/div&gt;
&lt;div class="bny-load" color="red"&gt;&lt;/div&gt;
&lt;div class="bny-load" color="yellow"&gt;&lt;/div&gt;
&lt;div class="bny-load" color="blue"&gt;&lt;/div&gt;
                </pre>
                        </div>
                    </div>
                </div>
            </div>
            <h3>大小</h3>
            <div class="bny-card">
                <div hx-ext="bny-tab">
                    <ul class="head">
                        <li>Preview</li>
                        <li>Code</li>
                    </ul>
                    <div class="body">
                        <div>
                            <div class="p-12">
                                <div class="bny-load" size="small"></div>
                                <div class="bny-load"></div>
                                <div class="bny-load" size="large"></div>
                            </div>
                        </div>
                        <div>
                            <pre hx-ext="bny-code">
&lt;div class="bny-load" size="small"&gt;&lt;/div&gt;
&lt;div class="bny-load"&gt;&lt;/div&gt;
&lt;div class="bny-load" size="large"&gt;&lt;/div&gt;
                </pre>
                        </div>
                    </div>
                </div>
            </div>
            <h3 id="n013">样式-球</h3>
            <h4 id="n0131">默认</h4>
            <div class="bny-card">
                <div hx-ext="bny-tab">
                    <ul class="head">
                        <li>Preview</li>
                        <li>Code</li>
                    </ul>
                    <div class="body">
                        <div>
                            <div class="p-12">
                                <div class="bny-load-ball">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="bny-load-ball" color="green">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="bny-load-ball" color="red">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="bny-load-ball" color="yellow">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="bny-load-ball" color="blue">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <pre hx-ext="bny-code">
&lt;div class="bny-load-ball"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="bny-load-ball" color="green"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="bny-load-ball" color="red"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="bny-load-ball" color="yellow"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="bny-load-ball" color="blue"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
                </pre>
                        </div>
                    </div>
                </div>
            </div>
            <h4 id="n0132">大小</h4>
            <div class="bny-card">
                <div hx-ext="bny-tab">
                    <ul class="head">
                        <li>Preview</li>
                        <li>Code</li>
                    </ul>
                    <div class="body">
                        <div>
                            <div class="p-12">
                                <div class="bny-load-ball" size="small">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="bny-load-ball">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="bny-load-ball" size="large">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <pre hx-ext="bny-code">
&lt;div class="bny-load-ball" size="small"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="bny-load-ball"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="bny-load-ball" size="large"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
                </pre>
                        </div>
                    </div>
                </div>
            </div>
            <h3 id="n014">样式-转球</h3>
            <div class="bny-card">
                <div hx-ext="bny-tab">
                    <ul class="head">
                        <li>Preview</li>
                        <li>Code</li>
                    </ul>
                    <div class="body">
                        <div>
                            <div class="p-12">
                                <div class="bny-load-rot"></div>
                            </div>
                        </div>
                        <div>
                            <pre hx-ext="bny-code">
&lt;div class="bny-load-rot"&gt;&lt;/div&gt;
                </pre>
                        </div>
                    </div>
                </div>
            </div>
            <h3 id="n015">样式-血条</h3>
            <div class="bny-card">
                <div hx-ext="bny-tab">
                    <ul class="head">
                        <li>Preview</li>
                        <li>Code</li>
                    </ul>
                    <div class="body">
                        <div>
                            <div class="p-12">
                                <div class="bny-load-health">
                                    <div></div>
                                </div>
                                <br>
                                <div class="bny-load-health" color="green">
                                    <div></div>
                                </div>
                                <br>
                                <div class="bny-load-health" color="yellow">
                                    <div></div>
                                </div>
                                <br>
                                <div class="bny-load-health" color="red">
                                    <div></div>
                                </div>
                                <br>
                                <div class="bny-load-health" color="blue">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <pre hx-ext="bny-code">
&lt;div class=&quot;bny-load-health&quot;&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;bny-load-health&quot; color=&quot;green&quot;&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;bny-load-health&quot; color=&quot;yellow&quot;&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;bny-load-health&quot; color=&quot;red&quot;&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;bny-load-health&quot; color=&quot;blue&quot;&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
                </pre>
                        </div>
                    </div>
                </div>
            </div>
            <h2 id="n02">组件</h2>
            <div class="bny-card">
                <div hx-ext="bny-tab">
                    <ul class="head">
                        <li>Preview</li>
                        <li>Code</li>
                    </ul>
                    <div class="body">
                        <div>
                            <div class="p-12">
                                <div class="bny-card" style="width: 150px; height: 50px;" hx-get="/test/data/load.html"
                                    hx-trigger="load delay:1s">
                                    <div class="bny-load"></div>
                                </div>
                                <br>
                                <div class="bny-card" style="width: 150px; height: 50px;" hx-get="/test/data/load.html"
                                    hx-trigger="load delay:2s">
                                    <div class="bny-load-ball" color="red">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                                <br>
                                <div class="bny-card" style="width: 150px; height: 50px;" hx-get="/test/data/load.html"
                                    hx-trigger="load delay:3s">
                                    <div class="bny-load-rot"></div>
                                </div>
                                <br>
                                <div class="bny-card" style="width: 150px; height: 50px;" hx-get="/test/data/load.html"
                                    hx-trigger="load delay:4s">
                                    <div class="bny-load-health">
                                        <div></div>
                                    </div>
                                </div>
                                <br>
                                <button class="bny-btn" onclick="load()">弹出加载</button>
                            </div>
                        </div>
                        <div>
                            <pre hx-ext="bny-code">
&lt;div class="bny-card" style="width: 150px; height: 50px;" hx-get="/test/data/load.html" hx-trigger="load delay:1s"&gt;
    &lt;div class="bny-load"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;br&gt;
&lt;div class="bny-card" style="width: 150px; height: 50px;" hx-get="/test/data/load.html" hx-trigger="load delay:2s"&gt;
    &lt;div class="bny-load-ball" color="red"&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;br&gt;
&lt;div class="bny-card" style="width: 150px; height: 50px;" hx-get="/test/data/load.html" hx-trigger="load delay:3s"&gt;
    &lt;div class="bny-load-rot"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;br&gt;
&lt;button class="bny-btn" onclick="load()"&gt;弹出加载&lt;/button&gt;
&lt;script&gt;
    function load() {
        const load = bny.load() // 弹出加载
        setTimeout(() =&gt; {
            load.remove() // 移除加载
        }, 3000)
    }
&lt;/script&gt;
                </pre>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function load() {
                    const load = bny.load()
                    setTimeout(() => {
                        load.remove()
                    }, 3000)
                }
            </script>
        </div>
    </div>
    <div class="right-anchor-box hidden-xs col-sm3">
        <div class="right-anchor">
            <ul hx-ext="bny-anchor" rail>
                <li class="link" anchor="#n01">样式</li>
                <ul>
                    <li class="link" anchor="#n011">默认</li>
                    <li class="link" anchor="#n012">大小</li>
                    <li class="link" anchor="#n013">样式-球</li>
                    <ul>
                        <li class="link" anchor="#n0131">默认</li>
                        <li class="link" anchor="#n0132">大小</li>
                    </ul>
                    <li class="link" anchor="#n014">样式-转球</li>
                    <li class="link" anchor="#n015">样式-血条</li>
                </ul>
                <li class="link" anchor="#n02">组件</li>
            </ul>
        </div>
    </div>
</div>