<h2>样式</h2>

<h4>默认</h4>
<div class="bny-load"></div>
<div class="bny-load" color="green"></div>
<div class="bny-load" color="red"></div>
<div class="bny-load" color="yellow"></div>
<div class="bny-load" color="blue"></div>

<h5>大小</h5>
<div class="bny-load" size="small"></div>
<div class="bny-load"></div>
<div class="bny-load" size="large"></div>

<h4>样式-球</h4>
<div class="bny-load-ball">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="bny-load-ball" color="green">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="bny-load-ball" color="red">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="bny-load-ball" color="yellow">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="bny-load-ball" color="blue">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<br>
<br>
<h5>大小</h5>
<div class="bny-load-ball" size="small">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="bny-load-ball">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="bny-load-ball" size="large">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<br>
<br>
<h4>样式-转球</h4>

<div class="bny-load-rot"></div>

<h2>组件</h2>
<div hx-get="/test/data/load.php" hx-trigger="load">
    <div class="bny-load"></div>
</div>
<br>
<div hx-get="/test/data/load.php" hx-trigger="load">
    <div class="bny-load-ball" color="red">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<br>
<div hx-get="/test/data/load.php" hx-trigger="load">
    <div class="bny-load-rot"></div>
</div>