<h1>加载</h1>
<hr>
<blockquote class="bny-blockquote">
    加载层,默认 3 秒自动关闭
</blockquote>
<h2>样式</h2>
<h3>默认</h3>
<div class="bny-card">
    <div hx-ext="bny-tab">
        <ul class="head">
            <li>Preview</li>
            <li>Code</li>
        </ul>
        <div class="body">
            <div class="p-12">
                <div class="bny-load"></div>
                <div class="bny-load" color="green"></div>
                <div class="bny-load" color="red"></div>
                <div class="bny-load" color="yellow"></div>
                <div class="bny-load" color="blue"></div>
            </div>
            <div>
                <pre hx-ext="bny-code">
&lt;div class="bny-load"&gt;&lt;/div&gt;
&lt;div class="bny-load" color="green"&gt;&lt;/div&gt;
&lt;div class="bny-load" color="red"&gt;&lt;/div&gt;
&lt;div class="bny-load" color="yellow"&gt;&lt;/div&gt;
&lt;div class="bny-load" color="blue"&gt;&lt;/div&gt;
                </pre>
            </div>
        </div>
    </div>
</div>
<h3>大小</h3>
<div class="bny-card">
    <div hx-ext="bny-tab">
        <ul class="head">
            <li>Preview</li>
            <li>Code</li>
        </ul>
        <div class="body">
            <div class="p-12">
                <div class="bny-load" size="small"></div>
                <div class="bny-load"></div>
                <div class="bny-load" size="large"></div>
            </div>
            <div>
                <pre hx-ext="bny-code">
&lt;div class="bny-load" size="small"&gt;&lt;/div&gt;
&lt;div class="bny-load"&gt;&lt;/div&gt;
&lt;div class="bny-load" size="large"&gt;&lt;/div&gt;
                </pre>
            </div>
        </div>
    </div>
</div>
<h3>样式-球</h3>
<h4>默认</h4>
<div class="bny-card">
    <div hx-ext="bny-tab">
        <ul class="head">
            <li>Preview</li>
            <li>Code</li>
        </ul>
        <div class="body">
            <div class="p-12">
                <div class="bny-load-ball">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="bny-load-ball" color="green">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="bny-load-ball" color="red">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="bny-load-ball" color="yellow">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="bny-load-ball" color="blue">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div>
                <pre hx-ext="bny-code">
&lt;div class="bny-load-ball"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="bny-load-ball" color="green"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="bny-load-ball" color="red"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="bny-load-ball" color="yellow"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="bny-load-ball" color="blue"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
                </pre>
            </div>
        </div>
    </div>
</div>
<h4>大小</h4>
<div class="bny-card">
    <div hx-ext="bny-tab">
        <ul class="head">
            <li>Preview</li>
            <li>Code</li>
        </ul>
        <div class="body">
            <div class="p-12">
                <div class="bny-load-ball" size="small">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="bny-load-ball">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="bny-load-ball" size="large">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div>
                <pre hx-ext="bny-code">
&lt;div class="bny-load-ball" size="small"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="bny-load-ball"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="bny-load-ball" size="large"&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
    &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
                </pre>
            </div>
        </div>
    </div>
</div>
<h3>样式-转球</h3>
<div class="bny-card">
    <div hx-ext="bny-tab">
        <ul class="head">
            <li>Preview</li>
            <li>Code</li>
        </ul>
        <div class="body">
            <div class="p-12">
                <div class="bny-load-rot"></div>
            </div>
            <div>
                <pre hx-ext="bny-code">
&lt;div class="bny-load-rot"&gt;&lt;/div&gt;
                </pre>
            </div>
        </div>
    </div>
</div>
<h2>组件</h2>
<div class="bny-card">
    <div hx-ext="bny-tab">
        <ul class="head">
            <li>Preview</li>
            <li>Code</li>
        </ul>
        <div class="body">
            <div class="p-12">
                <div class="bny-card" style="width: 150px; height: 50px;" hx-get="/test/data/load.html"
                    hx-trigger="load delay:1s">
                    <div class="bny-load"></div>
                </div>
                <br>
                <div class="bny-card" style="width: 150px; height: 50px;" hx-get="/test/data/load.html"
                    hx-trigger="load delay:2s">
                    <div class="bny-load-ball" color="red">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <br>
                <div class="bny-card" style="width: 150px; height: 50px;" hx-get="/test/data/load.html"
                    hx-trigger="load delay:3s">
                    <div class="bny-load-rot"></div>
                </div>

                <button class="bny-btn" onclick="load()">弹出加载</button>
            </div>
            <div>
                <pre hx-ext="bny-code">
&lt;div class="bny-card" style="width: 150px; height: 50px;" hx-get="/test/data/load.html" hx-trigger="load delay:1s"&gt;
    &lt;div class="bny-load"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;br&gt;
&lt;div class="bny-card" style="width: 150px; height: 50px;" hx-get="/test/data/load.html" hx-trigger="load delay:2s"&gt;
    &lt;div class="bny-load-ball" color="red"&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
        &lt;div&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;br&gt;
&lt;div class="bny-card" style="width: 150px; height: 50px;" hx-get="/test/data/load.html" hx-trigger="load delay:3s"&gt;
    &lt;div class="bny-load-rot"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;br&gt;
&lt;button class="bny-btn" onclick="load()"&gt;弹出加载&lt;/button&gt;
&lt;script&gt;
    function load() {
        const load = bny.load() // 弹出加载
        setTimeout(() =&gt; {
            load.remove() // 移除加载
        }, 3000)
    }
&lt;/script&gt;
                </pre>
            </div>
        </div>
    </div>
</div>
<script>
    function load() {
        const load = bny.load()
        setTimeout(() => {
            load.remove()
        }, 3000)
    }
</script>