<h2>页面信息</h2>

<div class="bny-page" style="position: unset;width: 350px; height: 300px;">
    <div class="header">
        <div class="title">标题</div>
        <div class="setwin">
            <span class="bny-icon icon-jian min-auto"></span>
            <span class="bny-icon icon-quanping zoom"></span>
            <span class="bny-icon icon-cuo close-btn"></span>
        </div>
    </div>
    <div class="content">这个是内容</div>
</div>

<!-- <div class="bny-page-shade">
    <div class="bny-page">
        <div class="header">
            <div class="title">标题</div>
            <div class="setwin">
                <span class="bny-icon icon-jian min-auto"></span>
                <span class="bny-icon icon-quanping zoom"></span>
                <span class="bny-icon icon-cuo close-btn"></span>
            </div>
        </div>
        <div class="content">这个是内容</div>
    </div>
</div> -->

<h2>组件-页面信息</h2>
<button hx-ext="bny-page" hx-get="/test/data/page.html" hx-trigger="click" class="bny-btn">页面信息</button>

<button hx-ext="bny-page" hx-get="/test/data/page.html" hx-trigger="click" class="bny-btn" title="false" anim="right"
    width="600px" height="600px" offset="right" shade>页面信息</button>

<button hx-ext="bny-page" hx-get="/test/data/page.json" hx-trigger="click" class="bny-btn">页面信息</button>