<div class="bny-container p-12">
    <div hx-ext="bny-tab" mode="scroll">
        <ul class="head" hx-indicator="#tab-load">
            <li hx-get="/test/button.html">样式-按钮</li>
            <li hx-get="/test/tag.html">样式-标签</li>
            <li hx-get="/test/color.html">样式-颜色</li>
            <li hx-get="/test/class.html">样式-公共类</li>
            <li hx-get="/test/icons.html">样式-图标</li>
            <li hx-get="/test/subsidiary.html">样式-辅助</li>
            <li hx-get="/test/card.html">样式-卡片</li>
            <li hx-get="/test/grid.html">样式-网格</li>
            <li hx-get="/test/form.html">组件-表单</li>
            <li hx-get="/test/menu.html">组件-菜单</li>
            <li hx-get="/test/nav.html">组件-导航栏</li>
            <li hx-get="/test/collapse.html">组件-折叠面板</li>
            <li hx-get="/test/dropdown.html">组件-下拉菜单</li>
            <li hx-get="/test/alert.html">组件-警示信息</li>
            <li hx-get="/test/confirm.html">组件-确认信息</li>
            <li hx-get="/test/page.html">组件-页面信息</li>
            <li hx-get="/test/load.html">组件-加载</li>
            <li hx-get="/test/code.html">组件-代码</li>
            <li hx-get="/test/table.html">组件-表格</li>
            <li hx-get="/test/tab.html">组件-选项卡</li>
            <li hx-get="/test/js.html">JS-API</li>
        </ul>
        <div class="body">
        </div>
    </div>
</div>