<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BunnyUI</title>
    <link rel="shortcut icon" href="bunny.png" type="image/x-icon">
    <link rel="stylesheet" href="/debug/bunny.css">
    <script src="/debug/bunny.js"></script>
</head>
<style>
    body {
        padding: 10px;
        width: 100%;
        margin: 0 auto;
        max-width: 1024px;
    }

    #menu-content {
        padding: 10px 0;
    }
</style>

<body>
    <button class="bny-btn" id="mode-btn">模式</button>
    <hr>
    <div hx-ext="bny-menu">
        <div class="item">
            <div class="trigger" hx-get="/test/button.html" hx-trigger="click" hx-target="#menu-content">
                <span>样式-按钮</span>
            </div>
        </div>
        <div class="item">
            <div class="trigger" hx-get="/test/tag.html" hx-trigger="click" hx-target="#menu-content">
                <span>样式-标签</span>
            </div>
        </div>
        <div class="item">
            <div class="trigger" hx-get="/test/subsidiary.html" hx-trigger="click" hx-target="#menu-content">
                <span>样式-辅助</span>
            </div>
        </div>
        <div class="item">
            <div class="trigger" hx-get="/test/card.html" hx-trigger="click" hx-target="#menu-content">
                <span>样式-卡片</span>
            </div>
        </div>
    </div>
    <br>
    <div hx-ext="bny-menu">
        <div class="item">
            <div class="trigger" hx-get="/test/menu.html" hx-trigger="click" hx-target="#menu-content">
                <span>组件-菜单</span>
            </div>
        </div>
        <div class="item">
            <div class="trigger" hx-get="/test/collapse.html" hx-trigger="click" hx-target="#menu-content">
                <span>组件-折叠面板</span>
            </div>
        </div>
        <div class="item">
            <div class="trigger" hx-get="/test/dropdown.html" hx-trigger="click" hx-target="#menu-content">
                <span>组件-下拉菜单</span>
            </div>
        </div>
        <div class="item">
            <div class="trigger" hx-get="/test/alert.html" hx-trigger="click" hx-target="#menu-content">
                <span>组件-警示信息</span>
            </div>
        </div>
        <div class="item">
            <div class="trigger" hx-get="/test/confirm.html" hx-trigger="click" hx-target="#menu-content">
                <span>组件-确认信息</span>
            </div>
        </div>
        <div class="item">
            <div class="trigger" hx-get="/test/page.html" hx-trigger="click" hx-target="#menu-content">
                <span>组件-页面信息</span>
            </div>
        </div>
        <div class="item">
            <div class="trigger" hx-get="/test/load.html" hx-trigger="click" hx-target="#menu-content">
                <span>组件-加载</span>
            </div>
        </div>
        <div class="item">
            <div class="trigger" hx-get="/test/code.html" hx-trigger="click" hx-target="#menu-content">
                <span>组件-代码</span>
            </div>
        </div>
    </div>
    <div id="menu-content" hx-get="/test/load.html" hx-trigger="load">
        <div class="bny-load"></div>
    </div>
    <script>
        document.getElementById('mode-btn').addEventListener('click', function () {
            document.documentElement.classList.toggle('dark');
        });
    </script>
</body>

</html>