html {
    /* 颜色 */

    /* 默认 黑色 主色调 */
    --default: #2d2d2d;
    --default-middle: #5a5a5a;
    --default-shallow: #8a8a8a;

    /* 绿色 */
    --green: #1e8449;
    --green-middle: #52be80;
    --green-shallow: #abebc6;

    /* 蓝色 */
    --blue: #1f618d;
    --blue-middle: #5499c7;
    --blue-shallow: #aed6f1;

    /* 黄色 */
    --yellow: #d68910;
    --yellow-middle: #f5b041;
    --yellow-shallow: #f9e79f;

    /* 红色 */
    --red: #922b21;
    --red-middle: #e74c3c;
    --red-shallow: #f5b7b1;

    /* 灰色 */
    --gray: #424949;
    --gray-middle: #a0aeb0;
    --gray-shallow: #eaecee;

    /* 白色 */
    --white: #f5f5f5;
    --white-middle: #dcdcdc;
    --white-shallow: #efefef;

    /* 黑色 */
    --black: #676767;
    --black-middle: #555555;
    --black-shallow: #a9a9a9;

    /* 常白色 */
    --white-common: #f5f5f5;
    --white-common-middle: #dcdcdc;
    --white-common-shallow: #c0c0c0;

    /* 常黑色 */
    --black-common: #676767;
    --black-common-middle: #555555;
    --black-common-shallow: #a9a9a9;

    /* 字体大小 */
    --font-size: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-24: 24px;
    --font-size-32: 32px;

    /* 圆角 */
    --border-radius: 4px;
    --border-radius-8: 8px;
    --border-radius-15: 15px;

    /* 动态 */
    --transition: all 235ms ease 0s;

    --transform3d-200: translate3d(2px, 0, 0);
    --transform3d-500: translate3d(5px, 0, 0);

    --transform3d-020: translate3d(0, 2px, 0);
    --transform3d-050: translate3d(0, 5px, 0);

    --transform3d-002: translate3d(0, 0, 2px);
    --transform3d-005: translate3d(0, 0, 5px);

    /* 影子 */
    --box-shadow-005: 0 0 5px rgba(0, 0, 0, 0.4);
    --box-shadow-055: 0 5px 5px rgba(0, 0, 0, 0.5);

    --box-shadow-hover-005: 0 0 1px rgba(0, 0, 0, 0.6);
    --box-shadow-hover-055: 0 1px 1px rgba(0, 0, 0, 0.6);
}

::view-transition-old(*) {
    animation: none;
}

::view-transition-new(*) {
    animation: clip 235ms ease-in;
}

::view-transition-old(root) {
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 9999;
}

/* 暗黑模式 */
html.dark {
    --white: #676767;
    --white-middle: #555555;
    --white-shallow: #454545;
    --black: #f5f5f5;
    --black-middle: #dcdcdc;
    --black-shallow: #efefef;
}

html.dark::view-transition-old(*) {
    animation: clip 235ms ease-in reverse;
}

html.dark::view-transition-new(*) {
    animation: none;
}

html.dark::view-transition-old(root) {
    z-index: 9999;
}

html.dark::view-transition-new(root) {
    z-index: 1;
}

/* 默认body */
body {
    background-color: var(--white);
    color: var(--black);
    font-size: var(--font-size);
    font-family: "Microsoft YaHei", -apple-system, Roboto, "PingFang SC", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* 消除默认样式 */
html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select,
pre,
blockquote {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    min-height: 100%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    text-decoration-color: var(--success);
    color: var(--primary-10);
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input,
textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

h1 {
    font-size: var(--font-size-32);
}

h2 {
    font-size: var(--font-size-24);
}

h3 {
    font-size: var(--font-size-20);
}

h4 {
    font-size: var(--font-size-18);
}

h5 {
    font-size: var(--font-size-16);
}

h6 {
    font-size: var(--font-size);
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: var(--gray);
    border-radius: 3px;
}

/* 公共样式 */

/* 间隔 */
/* padding */
.p-12 {
    padding: 12px;
}

.p-24 {
    padding: 24px;
}

.p-36 {
    padding: 36px;
}

/* margin */
.m-12 {
    margin: 12px;
}

.m-24 {
    margin: 24px;
}

.m-36 {
    margin: 36px;
}