/* ------------ 字体颜色 ------------- */

/* 绿色 */
.text-green {
    color: var(--green);
}

/* 蓝色 */
.text-blue {
    color: var(--blue);
}

/* 黄色 */
.text-yellow {
    color: var(--yellow);
}

/* 红色 */
.text-red {
    color: var(--red);
}

/* 灰色 */
.text-gray {
    color: var(--gray);
}

/* ------------ 背景颜色 ------------- */

/* 绿色 */
.bg-green {
    background-color: var(--green);
}

/* 蓝色 */
.bg-blue {
    background-color: var(--blue);
}

/* 黄色 */
.bg-yellow {
    background-color: var(--yellow);
}

/* 红色 */
.bg-red {
    background-color: var(--red);
}

/* 灰色 */
.bg-gray {
    background-color: var(--gray);
}