/* 公共样式 */

/* 字体大小 */
.fs-16 {
    font-size: var(--font-size-16);
}

.fs-18 {
    font-size: var(--font-size-18);
}

.fs-20 {
    font-size: var(--font-size-20);
}

.fs-24 {
    font-size: var(--font-size-24);
}

.fs-32 {
    font-size: var(--font-size-32);
}

/* 间隔 */
/* 内边距 */
.p-12 {
    padding: 12px;
}

.p-24 {
    padding: 24px;
}

.p-36 {
    padding: 36px;
}

/* 外边距 */
.m-12 {
    margin: 12px;
}

.m-24 {
    margin: 24px;
}

.m-36 {
    margin: 36px;
}

/* 清除浮动 */
.clearfix {
    zoom: 1;
}

/* 清除浮动 */
.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden;
}

/* 浮动 */
.fl {
    float: left
}

.fr {
    float: right
}

/* 文本对齐 */
.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

/* 省略号 */
.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 行内块 */
.inline {
    display: inline-block;
}