.bny-dropdown {
    position: fixed;
    box-shadow: var(--box-shadow-005);
    opacity: 0;
    visibility: hidden;
    transform: translateY(14px);
    transition: var(--transition);
    z-index: 9999;
    background: var(--white);
    color: var(--black);
    border-radius: var(--border-radius);

    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(4px);
    }
}