.bny-load-shade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bny-load {
    border: 5px solid var(--gray-middle);
    border-top: 5px solid var(--default);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    transition: var(--transition);
    animation: anim-spin 1s ease-out infinite;
    display: inline-block;
    box-shadow: var(--box-shadow-005);

    &[color="green"] {
        border-top-color: var(--green);
    }

    &[color="red"] {
        border-top-color: var(--red);
    }

    &[color="yellow"] {
        border-top-color: var(--yellow);
    }

    &[color="blue"] {
        border-top-color: var(--blue);
    }

    &[size="small"] {
        width: 30px;
        height: 30px;
    }

    &[size="large"] {
        width: 60px;
        height: 60px;
    }
}

@keyframes load-ball {
    50% {
        transform: translateY(25px)
    }
}

.bny-load-ball {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 26px;

    &[size="small"]>div {
        width: 12px;
        height: 12px;
    }

    &[size="large"]>div {
        width: 30px;
        height: 30px;
    }

    &>div {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        animation: 2s load-ball ease infinite;

        &:nth-child(1) {
            background-color: var(--default);
        }

        &:nth-child(2) {
            animation-delay: .25s;
            background-color: var(--default-middle);
        }

        &:nth-child(3) {
            animation-delay: .5s;
            background-color: var(--default-shallow);
        }

        &:nth-child(4) {
            animation-delay: .75s;
            background-color: var(--gray-middle);
        }
    }

    &[color="green"]>div {

        &:nth-child(1) {
            background-color: var(--green);
        }

        &:nth-child(2) {
            animation-delay: .25s;
            background-color: var(--green-middle);
        }

        &:nth-child(3) {
            animation-delay: .5s;
            background-color: var(--green-shallow);
        }

        &:nth-child(4) {
            animation-delay: .75s;
            background-color: var(--gray-middle);
        }
    }

    &[color="yellow"]>div {

        &:nth-child(1) {
            background-color: var(--yellow);
        }

        &:nth-child(2) {
            animation-delay: .25s;
            background-color: var(--yellow-middle);
        }

        &:nth-child(3) {
            animation-delay: .5s;
            background-color: var(--yellow-shallow);
        }

        &:nth-child(4) {
            animation-delay: .75s;
            background-color: var(--gray-middle);
        }
    }

    &[color="red"]>div {

        &:nth-child(1) {
            background-color: var(--red);
        }

        &:nth-child(2) {
            animation-delay: .25s;
            background-color: var(--red-middle);
        }

        &:nth-child(3) {
            animation-delay: .5s;
            background-color: var(--red-shallow);
        }

        &:nth-child(4) {
            animation-delay: .75s;
            background-color: var(--gray-middle);
        }
    }

    &[color="blue"]>div {

        &:nth-child(1) {
            background-color: var(--blue);
        }

        &:nth-child(2) {
            animation-delay: .25s;
            background-color: var(--blue-middle);
        }

        &:nth-child(3) {
            animation-delay: .5s;
            background-color: var(--blue-shallow);
        }

        &:nth-child(4) {
            animation-delay: .75s;
            background-color: var(--gray-middle);
        }
    }
}

@keyframes load-rot {
    0% {
        transform: rotate(0) scale(.8)
    }

    50% {
        transform: rotate(360deg) scale(1.2)
    }

    to {
        transform: rotate(720deg) scale(.8)
    }
}

@keyframes load-rot-1 {
    0% {
        box-shadow: 30px 0 var(--yellow-middle)
    }

    50% {
        box-shadow: 0 0 var(--yellow-middle);
        margin-bottom: 0;
        transform: translate(15px, 15px)
    }

    to {
        box-shadow: 30px 0 var(--yellow-middle);
        margin-bottom: 10px
    }
}

@keyframes load-rot-2 {
    0% {
        box-shadow: 30px 0 var(--blue-middle)
    }

    50% {
        box-shadow: 0 0 var(--blue-middle);
        margin-top: -20px;
        transform: translate(15px, 15px)
    }

    to {
        box-shadow: 30px 0 var(--blue-middle);
        margin-top: 0
    }
}

.bny-load-rot {
    display: inline-block;
    width: 45px;
    height: 45px;
    animation: load-rot 1s infinite;

    &:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 0px solid var(--white);
        border-top-color: transparent;
        animation: load-rot-1 1s infinite;
        background-color: var(--green-middle);
        box-shadow: 30px 0 var(--yellow-middle);
        margin-bottom: 10px;
    }

    &:after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 0px solid var(--white);
        border-top-color: transparent;
        animation: load-rot-2 1s infinite;
        background-color: var(--red-middle);
        box-shadow: 30px 0 var(--blue-middle);
    }
}