/* 水平/默认菜单 */
[hx-ext~="bny-menu"] {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    background-color: var(--default);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-005);
    color: var(--white-common);
    width: min-content;

    & .item {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: var(--transition);
        white-space: nowrap;
        position: relative;
        box-sizing: border-box;

        & .trigger {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;
            padding: 8px 16px;
            align-items: center;
            border-radius: 4px;
            transition: var(--transition);

            & i {
                transition: var(--transition);
            }

            &:hover {
                background-color: var(--default-shallow);
                transition: var(--transition);
            }
        }

        & .sub-menu {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 100;
            transform: translateY(15px);
            background-color: var(--default);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow-005);
            transition: var(--transition);
            padding: 4px;
            color: var(--white-common);

            & .sub-menu {
                top: 0;
                left: calc(100% + 10px);
            }
        }
    }

    & .item.show {

        &>.trigger {

            & i {
                transform: rotate(90deg);
            }
        }

        &>.sub-menu {
            opacity: 1;
            visibility: visible;
            transform: translateY(10px);
        }
    }

    /* 白色菜单 */
    &[color="white"] {
        background-color: var(--white-shallow);
        color: var(--black);

        & .sub-menu {
            background-color: var(--white-shallow);
        }
    }

    /* 绿色菜单 */
    &[color="green"] {
        background-color: var(--green);
        color: var(--white-common);

        & .sub-menu {
            background-color: var(--green);
        }

        & .trigger:hover {
            background-color: var(--green-shallow);
        }
    }

    /* 黄色菜单 */
    &[color="yellow"] {
        background-color: var(--yellow);
        color: var(--white-common);

        & .sub-menu {
            background-color: var(--yellow);
        }

        & .trigger:hover {
            background-color: var(--yellow-shallow);
        }
    }

    /* 红色菜单 */
    &[color="red"] {
        background-color: var(--red);
        color: var(--white-common);

        & .sub-menu {
            background-color: var(--red);
        }

        & .trigger:hover {
            background-color: var(--red-shallow);
        }
    }

    /* 蓝色菜单 */
    &[color="blue"] {
        background-color: var(--blue);
        color: var(--white-common);

        & .sub-menu {
            background-color: var(--blue);
        }

        & .trigger:hover {
            background-color: var(--blue-shallow);
        }
    }

}

/* 垂直菜单 */
[hx-ext~="bny-menu"][mode="vertical"] {
    flex-direction: column;
    width: 100%;
    padding: 4px 0;

    & .item {
        width: 100%;
        flex-direction: column;
        padding: 0 4px;

        & .sub-menu {
            position: relative;
            transform: none;
            width: 100%;
            padding: 0;
            box-shadow: none;
            opacity: 1;
            visibility: visible;
            max-height: 0;
            overflow: hidden;

            & .item {
                padding: 0 0 0 12px;
            }

            & .sub-menu {
                left: 0;
            }
        }
    }

    & .item.show {

        &>.sub-menu {
            height: auto;
            max-height: 1000px;
            visibility: visible;
        }
    }
}